
*.o
*.obj
*.lo


*.gch
*.pch


a.out
*.exe
*.out
*.app

*.dSYM/
*.su
*.idb
*.pdb

*.so
*.dylib
*.dll
*.a
*.lib

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

build/
bin/
out/

.vscode/
.idea/
*.code-workspace

.DS_Store
Thumbs.db


